<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Produits</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css"/>
</head>
<body>
<div class="container mt-5">
<div class="card">
    <div class="card-header"><h3>Liste de produits :</h3></div>
    <div class="card-body">
        <table class="table">
            <tr>
                <th>ID</th>  <th>NOM</th>  <th>QANTITE</th> <th>PRIX</th>
            </tr>
            <tr th:each="p:${ListeProduit}">
                <td th:text="${p.id}"/>
                <td th:text="${p.designation}"/>
                <td th:text="${p.quntite}"/>
                <td th:text="${p.prix}"/>
            </tr>
        </table>
    </div>
</div>
</div>
</body>
</html>