<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout" xmlns:div="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Produits</title>
</head>
<body>
<div layout:fragment="content1">
<div class="container mt-5">
<div class="panel panel-primary">
    <div class="panel-heading"><h3>Liste de produits :</h3></div>
    <div class="panel-body">
        <form th:action="@{produits}" method="get">
            <div class="mb-3" >
                <p>Mot clé :</p>
                <input  type="text" th:value="${motC}" name="motC">
                <button class="btn btn-primary">Chercher</button>
            </div>
        </form>
        <table class="table">
            <tr>
                <th>ID</th>  <th>NOM</th>  <th>QANTITE</th> <th>PRIX</th>
            </tr>
            <tr th:each="p:${pageProduit.content}">
                <td th:text="${p.id}"></td>
                <td th:text="${p.designation}"></td>
                <td th:text="${p.quntite}"></td>
                <td th:text="${p.prix}"></td>
                <td ><a class=" btn btn-danger" th:href="@{delete(id=${p.id},page=${Currentpage},size=${size},motC=${motC})}">Delete</a></td>
                <td ><a class=" btn btn-danger" th:href="@{edit(id=${p.id})}">Edit</a></td>

            </tr>
        </table>
        <ul class="nav nav-pills">
        <li th:each="page,status:${pages}">
            <a  th:class="${status.index==Currentpage?'btn btn-primary':'btn'}"
                th:href="@{produits(page=${status.index},size=${size},motC=${motC})}" th:text="${status.index}"></a>
        </li>
        </ul>
    </div>
</div>
</div>
</div>
</body>
</html>